.drink-cards
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
    padding: 1em;
}

.drink-card
{
    text-align: center;
/*    border: 1px solid var(--border-color);*/
    opacity:90%;
    border-radius: 2em !important;
/*    background-color:var(--avorio-scuro);*/
}

.drink-card:hover
{
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: 1em 1em 3em rgba(0, 0, 0, 1);
}

.drink-card:hover
{
    transform: scale(1.02);
    cursor: pointer;
}

img
{
    width:100%;
    padding: 0.5em;
    border-radius: 1.5em !important;
}
