<section class="favorites">

  <div *ngIf="isLoggedIn else notLogged">
    <div *ngIf="consentGiven else noConsent">
      <div class="drink-cards" *ngIf="favoriteDrinks.length > 0; else noFavorites">


        <p-card class="drink-card" *ngFor="let drink of favoriteDrinks"
                 [routerLink]="['/cocktail', drink.id]">

          <ng-template #header>
            <img [src]="'data:' + drink.imageMimeType + ';base64,' + drink.imageData"
                 alt="{{ drink.name }}"
                 width="200"
                 height="200"
                 style="object-fit: cover; border-radius: 8px;" />
          </ng-template>

          <ng-template #title> {{ drink.name }} </ng-template>

          <ng-template #footer>
            <p-button type="button" icon="pi pi-trash"
                      label="Remove"
                      (click)="removeFavoriteDrink(drink.id)">
            </p-button>
          </ng-template>

        </p-card>


      </div>
    </div>
  </div>
  <ng-template #noFavorites>
    <section *ngIf="isLoggedIn else notLogged">
      <p>{{ 'FAVORITE_DRINKS.NO_FAVORITE' | translate }}</p>
    </section>
  </ng-template>

  <ng-template #notLogged>

    <p>
      Registrati o fai il login per aggiungere dei drink ai preferiti...
    </p>
    <p>
      intanto puoi esplorare una selezione casuale dei  nostri drink:
    </p>

    <div class="drink-cards">

      <p-card class="drink-card" *ngFor="let drink of randomSelection">
        <ng-template #header>
          <img [src]="'data:' + drink.imageMimeType + ';base64,' + drink.imageData"
               alt="{{ drink.name }}"
               width="200"
               height="200"
               style="object-fit: cover; border-radius: 8px;" />
        </ng-template>

        <ng-template #title> {{ drink.name }} </ng-template>
      </p-card>

    </div>


  </ng-template>

  <ng-template #noConsent>
    <p>
      Ci serve il consenso al Gdpr per mostrarti contenuti personalizzati...
    </p>
    <p>
      intanto puoi esplorare una selezione casuale dei  nostri drink:
    </p>

    <div class="drink-cards">

      <p-card class="drink-card" *ngFor="let drink of randomSelection">
        <ng-template #header>
          <img [src]="'data:' + drink.imageMimeType + ';base64,' + drink.imageData"
               alt="{{ drink.name }}"
               width="200"
               height="200"
               style="object-fit: cover; border-radius: 8px;" />
        </ng-template>

        <ng-template #title> {{ drink.name }} </ng-template>
      </p-card>

    </div>

  </ng-template>

</section>
