.drink-cards
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
    padding: 1em;
}

.drink-card
{
    width: 200px;
    text-align: center;
    border: 1px solid var(--border-color);
    opacity: 90%;
    border-radius: 2em !important;
}

.drink-card:hover
{
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.5);
}

.drink-card:hover
{
    transform: scale(1.02);
    cursor: pointer;
}

img
{
    width:100%;
    padding: 0.5em;
    border-radius: 1.5em !important;
}
