.drinkForm {

  padding: 2rem;

  max-width: 600px;
  margin: 2rem auto;
  font-family: Arial, sans-serif;
}

  .create-drink-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }

/* Drink Creation Form */

.drinkForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.2em;
  margin: auto;
  border-radius: 0.5em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
  background-color: #F5F5DC;
}

/* custom drinks section */
.user-drinks
{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.user-drinks-searchbar
{
  text-align: center;
  margin-bottom: 1rem;
}

.drink-card
{
  width: 200px;
  background: transparent;
  border: 2px solid #554845;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.drink-card:hover
{
  transform: scale(1.05);
}

.profile-update
{
  margin: 2rem auto;
  max-width: 600px;
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.form-row
{
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.form-label
{
  flex: 0 0 150px;
  text-align: right;
  margin-right: 20px;
  font-weight: bold;
}

.input-fixed {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 250px;
}

.edit-btn {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #0056b3;
}

.save-btn {
  display: block;
  margin: 2rem auto 0 auto;
  padding: 0.75rem 2rem;
  font-size: 1.2rem;
}

/* Created Drinks Section */

.drink-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: center;
  /*  border: 1px solid black;*/
  /*  border-radius: 8px;*/
  /*  margin: 2em;*/
  padding: 1em;
}

.drink-card
{
  border-radius: 2em !important;
}

.drink-card:hover
{
  transform: scale(1.02);
  cursor: pointer;
  box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.5);
}

img {
  width: 100%;
  /* border: 1px solid var(--border-color);*/
  padding: 0.5em !important;
  border-radius: 1.5em !important;
  /*   margin-bottom: 10px;*/
}

.backBtn
{
    margin-top:5em;
}
