.drinkForm {

  padding: 2rem;

  max-width: 600px;
  margin: 2rem auto;
  font-family: Arial, sans-serif;
}

  .create-drink-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }

/* Drink Creation Form */

.drinkForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.2em;
  margin: auto;
  border-radius: 0.5em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
  background-color: #F5F5DC;
}

/* custom drinks section */
.user-drinks
{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.user-drinks-searchbar
{
  text-align: center;
  margin-bottom: 1rem;
}

.drink-card
{
  width: 200px;
  background: transparent;
  border: 2px solid #554845;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.drink-card:hover
{
  transform: scale(1.05);
}

/* Created Drinks Section */

.drink-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: center;
  /*  border: 1px solid black;*/
  /*  border-radius: 8px;*/
  /*  margin: 2em;*/
  padding: 1em;
}

.drink-card
{
  border-radius: 2em !important;
}

.drink-card:hover
{
  transform: scale(1.02);
  cursor: pointer;
  box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.5);
}

img {
  width: 100%;
  /* border: 1px solid var(--border-color);*/
  padding: 0.5em !important;
  border-radius: 1.5em !important;
  /*   margin-bottom: 10px;*/
}
