<div *ngIf="isVisible" class="popup-overlay">

    <div>

      <!-- Login -->
      <form (submit)="login()">
        <div class="login-form">
          <div class="inputUsername">
            <p-inputgroup>
              <p-inputgroup-addon class="inputField">
                <i class="pi pi-user"></i>
              </p-inputgroup-addon>
              <input [(ngModel)]="username" placeholder="{{ 'POPUP_LOGIN.USERNAME' | translate }}" name="username" required>
            </p-inputgroup>
          </div>
          <div class="inputPassword">
            <p-inputgroup>
              <p-inputgroup-addon class="inputField">
                <i class="pi pi-key"></i>
              </p-inputgroup-addon>
              <input [(ngModel)]="password" type="password" placeholder="{{ 'POPUP_LOGIN.PASSWORD' | translate }}" name="password" required>
            </p-inputgroup>
          </div>
        </div>
        <button pButton class="popup-button" type="submit">
          {{ 'POPUP_LOGIN.LOGIN_BUTTON' | translate }}
        </button>
      </form>

      <div class="divider">
        <p-divider layout="horizontal" class="!flex md:!hidden" align="center"><b>{{ 'POPUP_LOGIN.OR' | translate }}</b></p-divider>
      </div>

      <!-- Register -->
      <div>
        <button pButton class="popup-button" (click)="navigateToSignup()">
        <i class="pi pi-user-plus"></i>
        {{ 'POPUP_LOGIN.SIGNUP_BUTTON' | translate }}
        </button>
        <div class="form-inline fr mt-4">
          <a id="forget">{{ 'POPUP_LOGIN.FORGOT_PASSWORD' | translate }}</a>
        </div>
      </div>


    </div>
</div>

