
.popup-overlay
{
  min-height: 60vh;
  width: 80%;
  background-color: var(--form-color);
  border-radius: 1em 1em 1em 1em;
  position: absolute;
  margin: auto;
  margin-top: 5em;
  margin-left: 10%;
  z-index: 999;
  opacity: 97%;
}

.login-form
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 1.5em;
}

/*582 perfect fit*/

.inputField
{
  width:20%!important;
}


@media screen and (max-width: 600px)
{
  .login-form {
    flex-direction: column;
    /* margin-left: 5%;*/
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .login-form {
   /* background-color: red;*/
    /* margin-left: 5%;*/
  }
}

/*@media screen and (min-width: 992px)
{
  .login-form {
    background-color: blue;
    margin-left: 10%;
  }
}*/

/* Desktop */
@media screen and (min-width: 1280px)
{
  .login-form {
/*    background-color: purple;*/
/*    margin-left: 12%;*/
  }
}

