
<router-outlet></router-outlet>

<app-header></app-header>

<!--<app-popup-form [isVisible]="isPopupVisible"></app-popup-form>-->

<main class="content">

  <div class="section1">
    <div class="text-section">
      <h1>Welocme to: Gourmet Alcoholist</h1>
      <p>Discover amazing drinks and enjoy your evening (or morning if you're a crazy ass fella).</p>
    </div>
    <br>
    <div class="image-section">
      <img src="coctails.jpg" alt="coctails" id="mainimg" />
    </div>
  </div>

</main>

<!--<button-demo></button-demo>-->

<app-footer></app-footer>
