<header>
  <nav>
    <div class="logo">
      <a href="/" class="clickable">CoctailDebucle</a>
    </div>
    <div class="login-container">
      <div class="login">
        <button *ngIf="!isLoggedIn" (click)="popupForm.togglePopup()">
          <i class="fas fa-user"></i>
          <p>Login</p>
        </button>
        <div *ngIf="isLoggedIn">
          <button *ngIf="currentUrl !== '/profile'" (click)="navigateToProfile()">Mio Profilo</button>
          <button (click)="popupForm.logout()">Logout</button>
        </div>
      </div>
    </div>
  </nav>
</header>
<!-- Bind both login and logout events -->
<app-popup-form #popupForm
                (loginSuccessful)="handleLogin($event)"
                (logoutSuccessful)="handleLogout()">
</app-popup-form>
