body
{
    margin:auto !important;
}

/* Selections Display */

.selections
{
    list-style: none;
    display:flex;/*
    flex-direction:column;*/
    flex-wrap:wrap;
    margin:auto;
    justify-content:center;
    align-items:center;
    gap:0.5em;
}

.submitSel
{
    background-color: var(--avorio-scuro) !important;
    color: var(--bordo) !important;
}

.selectionItem
{
    margin-bottom: 0.5em;
    border: 2px solid var(--border-color);
    border-radius: 1em;
    background-color: var(--avorio-scuro);
    color:var(--bordo);
    opacity:90%;
    width:80%;
    padding: 0.8em;
}

.toggleButtons
{
    margin-top: 0.3em;
    gap: 1em;
}

.small-button
{
  margin-right: 1em;
}

/* Drinks Display */

.drink-container
{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  border-radius: 8px;
  margin: 2em;
  padding: 1em;
}

.drink-card
{
  width: 15em;
  text-align: center;
  border: 1px solid #ddd;
  border-radius:2em;
  padding: 10px;
  opacity:90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p-card
{
    padding: 0px !important;
}

.p-card-body
{
    padding: 0px !important;
    background-color: transparent;
}

img
{
  width: 100%;
  border-radius: 2em;
  padding: 0.5em;
}

/* Search Bar Section */

.search-bar
{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:0.5em;
}

.searchBarItem
{
    border-radius:0.2em;
    height: 2.2em;
    background-color:var(--form-color);
    padding:0.3em;
/*    opacity:90%;*/
}

.search-bar-form
{
    height:2.6em;
    margin-right:0.5em;
    padding:0.2em;
    margin-bottom:0.2em;
    margin-top: -0.2em;
}
