<main class="content">

  <h2>{{ 'ADMIN_PAGE.MANAGE_SELECTIONS' | translate }}</h2>

  <ul>
    <li *ngFor="let sel of selectionList">
      <strong>{{ 'ADMIN_PAGE.SEL_LIST_#' | translate }} #{{ sel.id }}</strong>
      {{ 'ADMIN_PAGE.SEL_LIST_BY' | translate }} {{ sel.userName }} | {{ 'ADMIN_PAGE.SEL_LIST_CREATED' | translate }} {{ sel.creationDate | date:'short' }}
      | {{ 'ADMIN_PAGE.SEL_LIST_N_ELEMENTS' | translate }} {{ sel.drinkCount }}
      | <span [ngClass]="sel.isActive ? 'active' : 'inactive'">
        {{ sel.isActive ? ('ADMIN_PAGE.SEL_LIST_ACTIVE' | translate) : ('ADMIN_PAGE.SEL_LIST_INACTIVE' | translate) }}
      </span>
      <button (click)="toggleSelectionList(sel.id)">
        {{ 'ADMIN_PAGE.SEL_LIST_TOGGLE_ACTIVE' | translate }}
      </button>
      <button (click)="removeSelection(sel.id)">
        {{ 'ADMIN_PAGE.SEL_LIST_DELETE' | translate }}
      </button>
    </li>
  </ul>


  <h2>{{ 'ADMIN_PAGE.SELECTED_DRINKS' | translate }}</h2>
  <div *ngFor="let drink of selectedDrinks">
    <strong>{{ drink.strDrink }}</strong>
  </div>
  <button (click)="submitSelection()">{{ 'ADMIN_PAGE.SUBMIT_SELECTION' | translate }}</button>

  <h2>{{ 'ADMIN_PAGE.SEARCHBAR_TITLE' | translate }}</h2>

  <!--searchbar-->
  <form [formGroup]="searchForm" class="search-bar">
    <input type="text" formControlName="query" placeholder="{{ 'ADMIN_PAGE.SEARCHBAR_NAME' | translate }}" />

    <select formControlName="category">
      <option value="">{{ 'ADMIN_PAGE.SEARCHBAR_CATEGORY' | translate }}</option>
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>

    <select formControlName="ingredient">
      <option value="">{{ 'ADMIN_PAGE.SEARCHBAR_INGREDIENTS' | translate }}</option>
      <option *ngFor="let ingredient of ingredients" [value]="ingredient">{{ ingredient }}</option>
    </select>

    <select formControlName="glass">
      <option value="">{{ 'ADMIN_PAGE.SEARCHBAR_GLASSES' | translate }}</option>
      <option *ngFor="let glass of glasses" [value]="glass">{{ glass }}</option>
    </select>
  </form>

  <!-- versione alternativa dei risultati-->
  <!--<div class="drink-container">
    <div class="drink-card" *ngFor="let drink of drinks" (click)="toggleSelection(drink)" [class.selected]="isSelected(drink)">
      <img [src]="drink.strDrinkThumb" alt="{{ drink.strDrink }}" />
      <h3>{{ drink.strDrink }}</h3>
    </div>
  </div>-->


  <div class="info-message" *ngIf="isRandomSelection && !searchUsed">
    <p>{{ 'ADMIN_PAGE.MSG_RANDOM_SELECTION' | translate }}</p>
  </div>

  <div class="info-message" *ngIf="noSearchResults">
    <p>{{ 'ADMIN_PAGE.MSG_NO_RESULT' | translate }}</p>
  </div>


  <!-- Main List of Drinks from API -->
  <div class="drink-container">
    <p-card header="{{ cocktail.strDrink }}" class="drink-card" *ngFor="let cocktail of drinks">
      <img [src]="cocktail.strDrinkThumb" alt="{{ cocktail.strDrink }}" />
      <ul class="ingredient-list">
        <li *ngFor="let ing of cocktail.ingredients">
          {{ ing.measure }} {{ ing.ingredient }}
        </li>
      </ul>
      <button (click)="toggleSelection(cocktail)">
        {{ isSelected(cocktail) ? ('ADMIN_PAGE.BUTTON_TOGGLE_REMOVE_DRINK' | translate) : ('ADMIN_PAGE.BUTTON_TOGGLE_SELECT_DRINK' | translate) }}
        <!--{{ isSelected(cocktail) ? 'Remove' : 'Select' }}-->
      </button>
    </p-card>
  </div>

  <app-back-button></app-back-button>

</main>
