<div *ngIf="cocktail; else noData" class="cocktail-detail">
  <h1>{{ cocktail.name }}</h1>

  <h3>{{ 'COCKTAIL_DETAIL.CATEGORY' | translate }}: {{ cocktail.category }}</h3>
  <img [src]="'data:' + cocktail.imageMimeType + ';base64,' + cocktail.imageData"
       alt="{{ cocktail.name }}"
       width="400"
       height="400"
       style="object-fit: cover; border-radius: 8px;" />
  <h3>{{ 'COCKTAIL_DETAIL.GLASS' | translate }}: {{ cocktail.glass.name }}</h3>
  <p><strong>{{ 'COCKTAIL_DETAIL.INSTRUCTIONS' | translate }}:</strong> {{ cocktail.instructions }}</p>

  <h3>{{ 'COCKTAIL_DETAIL.INGREDIENTS' | translate }}:</h3>
  <ul>
    <li *ngFor="let ingredient of cocktail.drinkIngredients">
      {{ ingredient.ingredient.ingredientName }} - {{ ingredient.amount }}
    </li>
  </ul>

  <button (click)="addToFavorites(cocktail.id)" class="btn btn-primary">
    ❤️ {{ 'COCKTAIL_DETAIL.FAVORITES' | translate }}
  </button>

  <button (click)="goBack()">⬅ {{ 'COCKTAIL_DETAIL.BACK' | translate }}</button>
</div>

<ng-template #noData>
  <p>⚠️ {{ 'COCKTAIL_DETAIL.NOT_FOUND' | translate }}</p>
  <button (click)="goBack()">⬅ {{ 'COCKTAIL_DETAIL.BACK' | translate }}</button>
</ng-template>
