/*///////////////////////*/
/* Main Section */
/*///////////////////////*/

.mainSection {
  width: 100% !important;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
/*  padding-top:1em;*/
/*  margin-top:1em;*/
  /*  min-height: 40vh;*/
  /*  margin: 3em;*/
  /*padding: 2em;*/
/*  margin-top: min(3vw)*/
}

.textSection
{
/*  margin-left: 2em;*/
/*  margin-top: 3em;*/
  z-index:1 !important;
  padding-top:1em;
  padding-left:2em;
/*  margin-top: 2em;*/
}

#content-wrapper
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5em;
}

.divider
{
    color:black;
    border: 1px solid #222;
    margin-top:2em;
    margin-bottom:3em;
}

/*///////////////////////*/
/* Main Image */
/*///////////////////////*/

.image-holder
{
  width: 100%;
  aspect-ratio: 16 / 9;
  z-index: -1 !important;
  overflow: hidden;
}
img
{
  position: absolute;
  /*top: 0;*/
  left: 0;
  height: fit-content;
  object-fit: cover;
  width: 100%;
}

/*///////////////////////*/
/* Image Toggle */
/*///////////////////////*/

@media screen and (max-width: 380px)
{
    .image-holder{
        display:none;
    }
}

@media screen and (min-width: 1000px) {

  .mainSection
  {
/*      margin-top:3em !important;*/
      padding-left:3em;
  }
  .textSection
  {
/*    margin-top: 3em !important;*/
    padding-left: 3em;
    font-size:24px
  }
}

@media screen and (max-width: 400px)
{
    .textSection{
       padding-left:0.5em !important;
    }
}

@media screen and (max-width: 668px)
{
  .favorite-drink-announcement {
    margin-top: min(25vw, 400px)
  }
  .textSection
  {
  /*    width:100%;*/
      padding-top:2em;
      padding-left:3em;
/*      padding-top:1em !important;*/
     /* margin-top:3em !important;*/
      margin-right: 0em !important;
      margin-top: 0em !important;
      font-size: 12px;
  }
  #content-wrapper
  {
      display:none;
      margin-left:0em !important;
  }
  .image-section
  {
    flex-direction: column;
    display:none;
  }
  #mainimg
  {
      display:none;
  }
  #shadow-svg
  {
      display:none;
  }
  .mainTitle{
      width:100%;
  }
  .flavourText {
    width: 100%;
  }
  .mainSection {
      margin-right: 0em !important;
  }
  .custom-dropdown {
      margin-bottom: -1em !important;
  }
  .divider{
      margin-top:0em;
  }
}

/*///////////////////////*/
/* Drinks Display */
/*///////////////////////*/

.favorite-drink-announcement {
  margin-top: 2em;
  z-index: !important;
  margin-top: min(23vw, 400px)
}

.drink-container
{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 0.5em;
}

.drink-card
{
  width: 15em;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  text-align: center;
}

.drink-card:hover
{
  transform: scale(1.05);
}

.drink-card a
{
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 10px;
}

.drink-card img
{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.drink-card h3
{
  margin: 10px 0;
  font-size: 16px;
}

/* show-more button for daily selection*/
.daily-selection-button {
  margin-top: 3em;
  margin-bottom: 1em;
  padding: 1em;
  cursor: pointer;
  background-color: var(--avorio-scuro);
  color: var(--bordo);
  border: none;
  border-radius: 0.7em;
  font-family: Arvo-italic;
  font-size:16px;
}

.daily-selection-button:hover
{
 transform:scale(1.05);
}
