/*///////////////////////*/
/* Main Section */
/*///////////////////////*/

.mainSection {
  width: 100% !important;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.textSection
{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  z-index:1 !important;
  padding-top:1em;
  padding-left:2em;
}

.mainTitle{
    font-family: Garamond-semi;
    margin-top:0px;
    font-weight:bold !important;
}

#content-wrapper
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5em;
}

.divider
{
    color:black;
    border: 1px solid #222;
    margin-top:2em;
    margin-bottom:3em;
}

/*///////////////////////*/
/* Main Image */
/*///////////////////////*/

.image-holder
{
  width: 100%;
  aspect-ratio: 16 / 9;
  z-index: -1 !important;
  overflow: hidden;
}

img
{
  position: absolute;
  left: 0;
  height: fit-content;
  object-fit: cover;
  width: 100%;
  box-shadow: 0 2em 5em rgba(0, 0, 0, 1);
}

/*///////////////////////*/
/* Image Toggle */
/*///////////////////////*/

@media screen and (max-width: 380px)
{
    .image-holder
    {
        display:none;
    }
}

@media screen and (min-width: 670px) {
  .favorite-drink-announcement {
    margin-top: min(14vw, 400px) !important;
  }

  .textSection {
    padding-top: 2em;
    padding-left: 3em;
    margin-right: 0em !important;
    margin-top: 0em !important;
    font-size: 14px;
  }

  .daily-selection-button2 {
    font-size: 16px !important;
  }
}

@media screen and (min-width: 760px) {
  .favorite-drink-announcement {
    margin-top: min(12w, 400px) !important;
  }
  .call-to-action{
      padding-top:3em !important;
      padding-bottom: 2em !important;
  }
  .textSection {
    padding-top: 2em;
    padding-left: 3em;
    margin-right: 0em !important;
    margin-top: 0em !important;
    font-size: 14px;
  }
  h1{
      font-weight:800;
      font-size: 34px;
  }
  .daily-selection-button2{
      font-size:16px !important;
  }
}

.welcome{
    margin-bottom:0.3em !important;
    font-size:16px;
}

@media screen and (min-width: 900px) {
  .favorite-drink-announcement {
    margin-top: min(15vw, 400px) !important;
  }
}

@media screen and (min-width: 1000px)
{
    .mainSection{
        height: 70vh;
    }
    .daily-selection-button2{
        font-size:16px !important;
        padding:1em !important;
    }
  .textSection {
    padding-top: 2em;
    padding-left: 3em;
    margin-right: 0em !important;
    margin-top: 0em !important;
    font-size: 16px;
  }
  .favorite-drink-announcement
  {
    margin-top: min(2vw, 400px) !important;
  }
  .call-to-action{
      padding-bottom:5em !important;
  }
  h1{
      font-size:40px;
  }
}

@media screen and (min-width: 1100px)
{
  .favorite-drink-announcement {
    margin-top: min(6vw, 400px) !important;
  }
}

@media screen and (min-width: 1200px)
{
    .textSection{
        padding-left: 1em;
        padding-top: 4em;
        width:100%;
    }
  .mainSection
  {
    height: 78vh;
  }
  .favorite-drink-announcement
  {
    margin-top: min(8vw, 400px) !important;
  }
  h1{
      font-size: 48px;
  }
}

@media screen and (min-width: 1400px)
{
  .favorite-drink-announcement {
    margin-top: min(16vw, 400px) !important;
  }
  h1{
      font-size:64px;
  }
}

@media screen and (min-width: 450px)
{
  .favorite-drink-announcement
  {
    margin-top: 5em;
  }
}

@media screen and (max-width: 668px)
{
   h1
   {
       font-size: 24px;
   }
  .favorite-drink-announcement
  {
      margin-top: min(12vw, 400px) !important;
  }
  .textSection
  {
      padding-top:2em;
      padding-left:3em;
      margin-right: 0em !important;
      margin-top: 0em !important;
      font-size: 16px;
  }
  #content-wrapper
  {
      display:none;
      margin-left:0em !important;
  }
  .image-section
  {
    flex-direction: column;
    display:none;
  }
  #mainimg
  {
      display:none;
  }
  #shadow-svg
  {
      display:none;
  }
  .mainTitle{
      width:100%;
  }
  .flavourText {
    width: 100%;
  }
  .mainSection {
      margin-right: 0em !important;
  }
  .custom-dropdown {
      margin-bottom: -1em !important;
  }
  .divider{
      margin-top:0em;
  }
}

/*@media screen and (min-width:)*/

@media screen and (max-width: 600px)
{
   .textSection{
       font-size:12px;
   }
  .call-to-action
  {
    display: none !important;
  }
  .favorite-drink-announcement {
    margin-top: min(25vw, 400px) !important;
  }
}

@media screen and (max-width: 400px) {
  .textSection {
    padding-left: 0.5em !important;
  }

  .favorite-drink-announcement {
    margin-top: min(10vw, 400px) !important;
  }

  h1 {
    font-size: 20px;
  }
}

/*///////////////////////*/
/* Drinks Display */
/*///////////////////////*/

.favorite-drink-announcement
{
/*  margin-top: 1em;*/
  z-index: !important;
  margin-top: min(20vw, 400px)
}

h1{
    font-family:Garamond;
}

.drink-container
{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 0.5em;
}

.drink-card
{
  width: 15em;
/*  background: #fff;*/
  border-radius: 10px;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  text-align: center;
}

.drink-card:hover
{
  transform: scale(1.05);
}

.drink-card a
{
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 10px;
}

/* show-more button for daily selection*/
.daily-selection-button {
  margin-top: 3em;
  margin-bottom: 1em;
  padding: 1em;
  cursor: pointer;
  background-color: var(--avorio-scuro);
  color: var(--bordo);
  border: none;
  border-radius: 0.7em;
  font-family: Arvo-italic;
  font-size:16px;
}

/*.call-to-action{
    
}*/

.daily-selection-button2 {
/*  margin-top: 3em;*/
  margin-bottom: 1em;
  padding: 0.7em;
  cursor: pointer;
  background-color: var(--avorio-scuro);
  color: var(--bordo);
  border: none;
  border-radius: 0.7em;
  font-family: Arvo-italic;
  font-size: 14px;
}

.daily-selection-button:hover {
  transform: scale(1.05);
}


.daily-selection-button2:hover
{
 transform:scale(1.05);
}
