.section1
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3em;
  padding: 2em;
}

#content-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5em;
}

.image-section
{
  position: relative;
  aspect-ratio: 1 / 1;
  width: 305px;
  height: 320px;
  z-index: 1;
  filter: drop-shadow(20px 10px 20px rgba(0, 0, 0, 0.7));
  /* Remove the mask from this section */
}

/*.image-wrapper
{
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);*/ /* Apply shadow */
/*}*/

#shadow-svg {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  opacity: 0.5;
  pointer-events: none;
}

.text-section
{
  margin-right: 2em;
  margin-top: 2em;
}

#mainimg {
  width: 305px;
  height: 320px;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 2;
  -webkit-mask-image: url('../../assets/mask.svg');
  mask-image: url('../../assets/mask.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  border: 1px solid black;
}

.drink-announcement
{
    margin-bottom:1.5em;
}
