<main class="content">

  <!-- Localization Dropdown -->
  <div class="custom-dropdown" (click)="toggleDropdown()" [class.open]="dropdownOpen">
    <div class="selected-lang">
      <i class="fi" [ngClass]="{
         'fi-gb': currentLang === 'en',
         'fi-fr': currentLang === 'fr',
         'fi-it': currentLang === 'it'}"></i>
      <span>{{ currentLang === 'en' ? 'English' : currentLang === 'fr' ? 'Français' : 'Italiano' }}</span>
    </div>
    <ul class="dropdown-options" *ngIf="dropdownOpen">
      <li *ngFor="let lang of availableLanguages" (click)="onLanguageChange(lang)">
        <i class="fi" [ngClass]="{
          'fi-gb': lang === 'en',
          'fi-fr': lang === 'fr',
          'fi-it': lang === 'it'
        }"></i>
        {{ lang === 'en' ? 'English' : lang === 'fr' ? 'Français' : 'Italiano' }}
      </li>
    </ul>
  </div>

  <!-- Main Section -->
  <div class="mainSection">
    <div class="textSection">
      <h1 class="mainTitle">
        {{ 'HOME.TITLE' | translate }}
      </h1>
      <p class="flavourText">
        {{ 'HOME.FLAVOUR_TEXT' | translate }}
      </p>
    </div>

    <!-- Main Image Page -->
    <div id="content-wrapper">
      <div class="image-wrapper">
        <img id="shadow-svg" src="bg2.svg" alt="Shadow" />
        <div class="image-section">
          <img src="coctails.jpg" alt="coctails" id="mainimg" />
        </div>
      </div>
    </div>
  </div>

  <!--<div class="divider"></div>-->

  <h1 class="favorite-drink-announcement">
    {{ 'HOME.CHOSEN_FOR_YOU' | translate }}
  </h1>

  <app-favorite-drinks></app-favorite-drinks>

  <h1 class="drink-announcement">
    {{ 'HOME.DAILY_SELECTION' | translate }}
  </h1>

  <app-drink-cards></app-drink-cards>

</main>
