<!--Tip:
• If you need to update the login state across multiple components,
consider using a shared authentication service or state management (e.g., RxJS BehaviorSubject).
• Also, think about route guards to protect personal pages.-->

<main class="content">

  <div class="section1">
    <div class="text-section">
      <h1>Welcome to: Gourmet Alcoholist</h1>
      <p>Discover amazing drinks and enjoy your evening (or morning if you're a crazy ass fella).</p>
    </div>

    <div id="content-wrapper">
      <div class="image-wrapper">
        <img id="shadow-svg" src="bg2.svg" alt="Shadow" />
        <div class="image-section">
          <img src="coctails.jpg" alt="coctails" id="mainimg" />
        </div>
      </div>
    </div>
  </div>


  <h1> Searching something in particular?</h1>
  <br />

  <div class="search-bar">
    <input type="text" [(ngModel)]="searchQuery" (keyup)="onSearch()" placeholder="Search for a drink..." />

    <select [(ngModel)]="selectedCategory" (change)="onSearch()">
      <option value="">All Categories</option>
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>

    <select [(ngModel)]="selectedIngredient" (change)="onSearch()">
      <option value="">All Ingredients</option>
      <option *ngFor="let ingredient of ingredients" [value]="ingredient">{{ ingredient }}</option>
    </select>
  </div>


  <div class="results">
    <div class="drink-container">
      <div class="drink-card" *ngFor="let drink of drinks">
        <a [routerLink]="['/cocktail', drink.idDrink]">
          <img [src]="drink.strDrinkThumb" alt="{{ drink.strDrink }}" />
          <h3>{{ drink.strDrink }}</h3>
        </a>
      </div>
    </div>
  </div>

  <br />

  <h1 class="drink-announcement">
    Some drinks you could like:
  </h1>

  <app-drink-cards></app-drink-cards>

</main>
