<main class="content">

  <!-- Main Section -->
  <div class="mainSection">


    <div class="textSection">
      <div class="mainTitleContainer">
        <p class="welcome">  {{ 'HOME.TITLE' | translate }} </p>
        <h1 class="mainTitle">
          Gourmet Alcoholist
        </h1>
        <p class="flavourText">
          {{ 'HOME.FLAVOUR_TEXT' | translate }}
        </p>
      </div>
      <div class="call-to-action">
        <p class="flavourText2"> {{ 'HOME.CALL_TO_ACTION_FLAVOR' | translate }} </p>
        <button pButton [routerLink]="['/daily-selection']" class="daily-selection-button2">
          {{ 'HOME.CALL_TO_ACTION' | translate }}
        </button>
      </div>
    </div>


    <div class="image-holder">
      <img class="image" src="assets/images/drink.jpg" alt="Drink">
    </div>
  </div>

  <h1 class="favorite-drink-announcement">
    {{ 'HOME.CHOSEN_FOR_YOU' | translate }}
  </h1>

  <app-favorite-drinks></app-favorite-drinks>

  <h1 class="drink-announcement">
    {{ 'HOME.DAILY_SELECTION' | translate }}
  </h1>

  <app-drink-cards></app-drink-cards>

  <button pButton [routerLink]="['/daily-selection']" class="daily-selection-button">
    {{ 'DRINK_CARDS.DAILY_SELECTION_SHOW_MORE' | translate }}
  </button>

</main>
