<header>
  <nav class="header-content">
    <div class="logo">
      <a href="/" class="clickable">CoctailDebucle</a>
    </div>



    <!-- Localization Dropdown -->
    <div class="custom-dropdown" (click)="toggleDropdown()" [class.open]="dropdownOpen">
      <div class="selected-lang">
        <i class="fi" [ngClass]="{
       'fi-gb': currentLang === 'en',
       'fi-fr': currentLang === 'fr',
       'fi-it': currentLang === 'it'}"></i>
      </div>
      <ul class="dropdown-options" *ngIf="dropdownOpen">
        <li *ngFor="let lang of availableLanguages" (click)="onLanguageChange(lang)">
          <i class="fi" [ngClass]="{
        'fi-gb': lang === 'en',
        'fi-fr': lang === 'fr',
        'fi-it': lang === 'it'
      }"></i>
          {{ lang === 'en' ? 'English' : lang === 'fr' ? 'Français' : 'Italiano' }}
        </li>
      </ul>
    </div>


    <div class="login-container">
      <div class="navigationSection">
        <button pButton class="loginButton" [label]="'HEADER.LOGIN' | translate" *ngIf="!isLoggedIn" (click)="popupForm.togglePopup()">
          <i class="fas fa-user"></i>
        </button>
        <div class="nav-buttons" *ngIf="isLoggedIn">
          <button pButton class="nav-button" [label]="'HEADER.ADMIN' | translate" *ngIf="isAdmin && currentUrl !== '/admin'" (click)="navigateToAdmin()"></button>
          <button pButton class="nav-button" [label]="'HEADER.PROFILE' | translate" *ngIf="currentUrl !== '/profile'" (click)="navigateToProfile()"></button>
          <button pButton class="nav-button" [label]="'HEADER.LOGOUT' | translate" (click)="popupForm.logout()"></button>
        </div>
      </div>
    </div>
    <div class="alternate-login">
      <button pButton class="nav-dropdown" (click)="toggleNavDropdown()">
        <i class="pi pi-list"></i>
      </button>
      <div class="dropdown-menu" *ngIf="showNavDropdown && isLoggedIn">
        <button pButton class="nav-button" label="Admin" *ngIf="isAdmin" (click)="navigateToAdmin(); toggleNavDropdown()"></button>
        <button pButton class="nav-button" label="Profile" *ngIf="currentUrl !== '/profile'" (click)="navigateToProfile(); toggleNavDropdown()"></button>
        <button pButton class="nav-button" label="Logout" (click)="popupForm.logout(); toggleNavDropdown()"></button>
      </div>
      <div class="dropdown-menu" *ngIf="showNavDropdown && !isLoggedIn">
        <p-button class="nav-button" label="Login" (click)="popupForm.togglePopup()"></p-button>
      </div>
    </div>
  </nav>
</header>

<app-popup-form #popupForm
   (loginSuccessful)="handleLogin($event)"
   (logoutSuccessful)="handleLogout()"> 
</app-popup-form>
