<header>
  <nav>
    <div class="logo">
      <a href="/" class="clickable">CoctailDebucle</a>
    </div>
    <div class="login-container">
      <div class="navigationSection">
        <p-button class="loginButton" label="Login" *ngIf="!isLoggedIn" (click)="popupForm.togglePopup()">
          <i class="fas fa-user"></i>
        </p-button>
        <div *ngIf="isLoggedIn">
          <p-button label="Admin" *ngIf="isAdmin" (click)="navigateToAdmin()"></p-button>
          <p-button label="Profile" *ngIf="currentUrl !== '/profile'" (click)="navigateToProfile()"></p-button>
          <p-button label="Logout" (click)="popupForm.logout()"></p-button>
        </div>
      </div>
    </div>
  </nav>
</header>

<app-popup-form #popupForm
   (loginSuccessful)="handleLogin($event)"
   (logoutSuccessful)="handleLogout()"> 
</app-popup-form>
