/* You can add global styles to this file, and also import other style files */

@font-face
{
  font-family: 'Garamond';
  src: url('./assets/fonts/EBGaramond-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face
{
  font-family: 'Garamond-Semi';
  src: url('./assets/fonts/EBGaramond-SemiBold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Arvo-Italic';
  src: url('./assets/fonts/Arvo-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/*///////////////////////*/
/* Global Variables */
/*///////////////////////*/

@media screen and (min-width: 1000px)
{
    body app-admin app-home
    {
        display:flex;
        justify-content:center;
        margin:auto;
        align-items:center;
    }

    main{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
/*        width:80%;*/
        margin:auto,
    }
}

:root {
  --form-color: #F5F5DC;
  --border-color: #554845;
  --middle-color: #B67233;
  --cream: #F6F0BC;
  --light-gradient: linear-gradient(var(--form-color), var(--cream)) no-repeat;
  --middle-gradient: linear-gradient(var(--middle-color), var(--form-color)) no-repeat;
  /*  --bordo: #4f0011;*/
  /*  --bordo:#451425;*/
  /*  --bordo: #4a0404;*/
  --bordo: #3f0010;
  --avorio: #FFFFF0;
  --avorio-scuro: #f8f8f7;
  --text-white: #FFFBF0;
}

.p-card
{
  width:15em;
  border-radius: 1.5em !important;
  height: auto !important;
  background-color: var(--avorio);
  color:var(--bordo);
}

.p-button
{
  color: var(--avorio-scuro) !important;
}

.nav-button .p-button
{
  padding: 0.85em !important;
  background-color: var(--avorio-scuro) !important;
  color: var(--bordo) !important;
  border: none !important;
}

.p-button:hover
{
  transform: scale(1.02);
}

.p-card-body
{
  padding: 1em !important;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.vc_row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.p-card-title
{
  margin-bottom: 0.5em;
}

body
{
  font-family: Arvo-Italic;
  background: var(--bordo);
  color: var(--text-white);
  width:100% !important;
  margin: 0px !important;
  padding: 0px !important;

}

.p-card.p-component
{
  height: 100% !important;
}

main
{
  min-height: 80vh;
}

body
{
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
}

html {
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
}
